<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/oo_vending_machine/src/oo_vending_machine/VendingSystem.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="oo_vending_machine.VendingSystem"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="oo_vending_machine"/>
</launchConfiguration>
